In [12]:
import pandas as pd

df = pd.read_excel('sheet commercial bank Social reporting.xlsx', sheet_name='Commercial Banks 1 (2)')
df["Nr. Pages"] = pd.to_numeric(df["Nr. Pages"], errors="coerce")
df["score for details"] = pd.to_numeric(df["score for details"], errors="coerce")
df["Balance sheet total (2024)"] = pd.to_numeric(df["Balance sheet total (2024)"], errors="coerce")
df["Revenue"] = pd.to_numeric(df["Revenue"], errors="coerce")

# Optionally, convert 'Size' to a categorical type
df["Size"] = df["Size"].astype("category")

print(df.dtypes)
display(df.head())

Company                         object
Country                         object
Region                          object
Page Social                     object
Social                         float64
Nr. Pages                      float64
Inhalt                          object
where                           object
score for details              float64
note                            object
Balance sheet total (2024)     float64
Revenue                        float64
Size                          category
ESG                            float64
max                            float64
min                            float64
ESG.1                          float64
ESG risk score                 float64
Social.1                       float64
dtype: object

,Company,Country,Region,Page Social,Social,Nr. Pages,Inhalt,where,score for details,note,Balance sheet total (2024),Revenue,Size,ESG,max,min,ESG.1,ESG risk score,Social.1
0,ABN Amro,Netherlands,Tây Âu,293,326.0,33.0,"Own workforce, Consumer and end-users",annual report,1.0,không có mục lục cụ thể cho social,3.850470e+11,8.861000e+09,Large,67.524159,92.084342,9.660379,67.524159,18.5,9.6
1,Addiko Bank,Austria,Tây Âu,124,162.0,38.0,"ESRS S1, S4",annual report,1.0,không có mục lục cụ thể cho social,6.408900e+09,3.158000e+08,Small,NaN,NaN,NaN,NaN,NaN,NaN
2,Aktia Bank,Finland,Bắc Âu,56,69.0,13.0,"s1, s2, s4",annual report,3.0,cả trang mục lục to,1.190400e+10,3.088000e+09,Small,54.569653,NaN,NaN,54.569653,29.2,NaN
3,Allied Irish Banks (AIB) Group,Ireland,Bắc Âu,83,101.0,18.0,"Societal & Workforce Progress/ S1, S3, S4",annual report,2.0,"mục lục gồm khoảng 3 phần chính, ngắn ở cuối t...",1.413000e+11,NaN,Medium,67.802077,NaN,NaN,67.802077,15.9,8.5
4,Banca Generali,Italy,Nam Âu,135,235.0,100.0,"S1, S4",annual report,2.0,"muc s2, s3 no material",1.680000e+10,9.811000e+08,Small,62.198280,NaN,NaN,62.198280,8.7,5.4

In [13]:

# Map Size to numeric values
size_map = {'Small': 1, 'Medium': 2, 'Large': 3}
df["Size_numeric"] = df["Size"].map(size_map)

# List of columns to check correlation (use Size_numeric)
cols = ["Nr. Pages", "score for details", "Balance sheet total (2024)", 
        "Revenue", "Size_numeric", "ESG", "ESG risk score", "Social.1"]

from itertools import combinations

correlations = []
for col1, col2 in combinations(cols, 2):
    corr = df[col1].corr(df[col2])
    correlations.append((col1, col2, corr))

# Display as a DataFrame
correlation_df = pd.DataFrame(correlations, columns=["Column 1", "Column 2", "Correlation"])
correlation_df = correlation_df.sort_values(by="Correlation", ascending=False)
display(correlation_df)

                      Column 1                    Column 2  Correlation
27              ESG risk score                    Social.1     0.794164
14  Balance sheet total (2024)                Size_numeric     0.785082
19                     Revenue                         ESG     0.667668
13  Balance sheet total (2024)                     Revenue     0.507875
15  Balance sheet total (2024)                         ESG     0.439465
22                Size_numeric                         ESG     0.413355
0                    Nr. Pages           score for details     0.240715
17  Balance sheet total (2024)                    Social.1     0.229990
7            score for details  Balance sheet total (2024)     0.207385
18                     Revenue                Size_numeric     0.197956
21                     Revenue                    Social.1     0.157968
9            score for details                Size_numeric     0.129102
24                Size_numeric                    Social.1     0.121330
4                    Nr. Pages                         ESG     0.047247
1                    Nr. Pages  Balance sheet total (2024)     0.041835
3                    Nr. Pages                Size_numeric     0.008747
10           score for details                         ESG    -0.036512
11           score for details              ESG risk score    -0.037017
2                    Nr. Pages                     Revenue    -0.042226
12           score for details                    Social.1    -0.068658
20                     Revenue              ESG risk score    -0.128263
16  Balance sheet total (2024)              ESG risk score    -0.157061
23                Size_numeric              ESG risk score    -0.217189
26                         ESG                    Social.1    -0.219885
8            score for details                     Revenue    -0.252415
5                    Nr. Pages              ESG risk score    -0.279676
6                    Nr. Pages                    Social.1    -0.419279
25                         ESG              ESG risk score    -0.439111

In [14]:
correlation_df.to_excel("correlation_output.xlsx", index=False)